<strong>Olá, {{ deliveryman }}</strong>
<p>A encomenda de número {{ id }} foi <strong>cancelada</strong>.</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong>
  <p>Rua {{ street }}, {{ number }}, {{ district }} - {{ city }} - {{ state }}</p>
  <br />
  <small>Retorne com o prooduto em nossa sede.</small>
</p>
