<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada para você:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong>
  <p>Rua {{ street }}, {{ number }}, {{ district }} - {{ city }} - {{ state }}</p>
  <br />
  <small>Retiradas entre 08:00h e 18:00h na nossa sede.</small>
</p>
